{% extend 'partials/base.html' %}

{% block title %} login administration || AMPS {% endblock %}

{% block style %}

<style>
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.forgot-password{
    float: right;
    margin: 15px;
}
</style>

{% endblock %}

{% block content %}
<div class="container login-container">
    <div class="login-form">
        <div class="col-md-4">
            <form action="" method="post" class="form-signin form">
                {% csrf_token %}
        <h2 class="form-signin-heading text-center">Connectez-vous </h2>
            {{form}}
          <small class="forgot-password">
              <a href="">Mot de passe oublie ?</a>
          </small>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
      </form>
        </div>
    </div>
</div>


{% endblock %}